[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extern/kokkos"]
	path = extern/kokkos
	url = https://github.com/kokkos/kokkos.git
	branch = release-candidate-4.3.00
